@import 'tailwindcss';
@plugin "daisyui";

body {
  @apply m-0 p-0 w-full h-full relative;
}

html {
  scrollbar-gutter: auto !important;
}

/* Light green-ish background */
.ag-cell-changed::before {
  @apply bg-success/15;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
